<form class="formStyle" [formGroup]="formGroup">
  <h1 *ngIf="formTitle!=undefined">{{ formTitle }}</h1>
  <app-input
    *ngFor="let input of givenInputs"
    [inputType]="input.inputType"
    [errorMessages]="input.errorMessages"
    [isMandatoryField]="input.isMandatoryField"
    [value]="input.value"
  >
  </app-input>
  <div *ngIf="confirmationButtonName!=undefined">
    <generic-button (click)="buttonEvent.emit()"
      [buttonName]="confirmationButtonName"
    ></generic-button>
  </div>
</form>
